
<nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark pt-2 mt-5">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
          <img src="assets/paksell_logo.svg" id='logo' alt="PakSell Logo" width="210" height="50">
        </a>
        
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn text-white fs-5" type="button">Home</button>
          </li>
          <li class="nav-item">
            <button class="btn text-white fs-5" type="button">About</button>
          </li>
          <li class="nav-item">
            <button class="btn text-white fs-5" type="button">Categories</button>
          </li>
          <li class="nav-item">
            <button class="btn text-white fs-5" type="button">Contact</button>
          </li>
          <li class="nav-item">
            <button class="btn bg-success fs-5" id="post-button" type="button" >Post Advertisement</button>
          </li>
        
        </ul>
        
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>