 <div id="carouselExample" class="carousel slide">
       <div class="carousel-inner">
           <div class="carousel-item active">
               <img src="assets/carasoul-3.jpeg" class="d-block w-100" height="800px" alt="...">
               <div class="carousel-caption"  height="500px">
                   <h1><b>Shift Into Gear: <br>Your Destination<br>For Car Excellence</b></h1>
                   <p>The PakSell Marketplace.</p>
                   <button class="btn btn-success ">Search a Car</button>
                   <button class="btn btn-success"> Post Advertisement</button>

               </div>
           </div>
           <div class="carousel-item">
               <img src="assets/carasoul-2.jpeg" class="d-block w-100" height="800px" alt="...">
               <div class="carousel-caption"  height="500px">
                <h1><b>Shift Into Gear: <br>Your Destination<br>For Car Excellence</b></h1>
                <p>The PakSell Marketplace.</p>
                <button class="btn btn-success ">Search a Car</button>
                <button class="btn btn-success"> Post Advertisement</button>

            </div>
           </div>
           <div class="carousel-item">
               <img src="assets/choose-your-car-homepage.jpg" class="d-block w-100" height="800px" alt="...">
               <div class="carousel-caption"  height="500px">
                <h1><b>Shift Into Gear: <br>Your Destination<br>For Car Excellence</b></h1>
                <p>The PakSell Marketplace.</p>
                <button class="btn btn-success ">Search a Car</button>
                <button class="btn btn-success"> Post Advertisement</button>

            </div>
           </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
           <span class="carousel-control-prev-icon"></span>
           <span class="visually-hidden">Previous</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
           <span class="carousel-control-next-icon"></span>
           <span class="visually-hidden">Next</span>
       </button>
   </div>