<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="Name" [(ngModel)]="signupData.name" class="form-control" name="name" placeholder="Enter your Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" [(ngModel)]="signupData.email" class="form-control" name="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" [(ngModel)]="signupData.password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    
                    <div class="mb-3">
                        <label for="LoginID" class="form-label">Login ID</label>
                        <input type="LoginID" [(ngModel)]="signupData.loginId" class="form-control" name="LoginID" placeholder="Enter your Login ID">
                    </div>
                    
                    <div class="mb-3">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="Phone" [(ngModel)]="signupData.phoneNumber" class="form-control" name="Phone" placeholder="Enter your Phone">
                    </div>
                    <div class="mb-3">
                        <label for="cityArea" class="form-label">CityArea</label>
                        <input type="cityArea" [(ngModel)]="signupData.city" class="form-control" name="cityArea" placeholder="Enter your cityArea">
                    </div>
                    <div class="mb-3">
                        <label for="SecurityQuestion" class="form-label">Security Question</label>
                        <input type="SecurityQuestion" [(ngModel)]="signupData.securityQuestion" class="form-control" name="SecurityQuestion" placeholder="Enter your Security Question">
                    </div>
                    <div class="mb-3">
                        <label for="SecurityAnswer" class="form-label">Security Answer</label>
                        <input type="SecurityAnswer" [(ngModel)]="signupData.securityAnswer" class="form-control" name="SecurityAnswer" placeholder="Enter your Security Answer">
                    </div>
                    <div class="mb-3">
                        <label for="Birth Date" class="form-label">Birth Date</label>
                        <input type="date" [(ngModel)]="signupData.birthDate" class="form-control" name="date" placeholder="Enter your Birth Date">
                    </div>
                    <div class="mb-3">
                        <label for="yourImage" class="form-label">Your Image</label>
                        <input type="file" class="form-control" name="yourImage" accept="image/*" (change)="onFileSelected($event)">
                    </div>
                    
                    <!-- Image Preview -->
                    <img *ngIf="previewImage" [src]="previewImage" alt="Selected Image" style="max-width: 150px; display: block; margin-top: 10px;">


                    <button type="button" (click)="signUp()"class="btn btn-success w-100" data-bs-dismiss="modal">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
